@use "./mixin";
html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

section {
  text-align: center;
  @include sp {
    text-align: left;
  }
}

section:not(:first-of-type) {
  padding-top: 112px;
  @include sp {
    padding-top: 64px;
  }
}

.section__title {
  font-size: 2.8em;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 800;
  color: $bese-color;
  @include sp {
    letter-spacing: -0.02em;
    font-size: 2.4em;
  }
}

.section__text {
  margin-top: 20px;
  font-size: 1.8em;
  @include sp {
    font-size: 1.6em;
  }
}

.inner {
  max-width: 876px;
  margin: 0 auto;
  @include sp {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.head__wrap {
  width: 100vw;
  height: 670px;
  background-image: url("../images/pc_src/mv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @include sp {
    height: 600px;
    background-image: url("../images/sp_src/mv@2x.png");
  }
}
