@use "./mixin";
.can {
  &__wrap {
    background-color: $main-color;
    padding: 30px 0;
  }

  &__innerWrp {
    max-width: 816px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #fff;
    border-radius: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
  }

  &__listItem {
    flex: 1;
  }

  &__listtext {
    width: 220px;
    margin: 20px auto 0 auto;
    font-size: 1.8em;
  }
}
