@use "./mixin";
.footer {
  &__wrap {
    background-color: $bese-color;
  }

  &__innerWrap {
    padding: 20px;
    text-align: left;
    color: #fff;
    font-size: 1.4em;
  }

  &__title {
    font-size: 14px;
  }

  &__listChunk {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
  }

  &__head {
    flex: 1;
  }

  &__item {
    margin-left: 30px;
    flex: 1;
  }
}
