@use "./mixin";

.header {
  width: 80vw;
  margin: 0 auto;
  @include sp {
    width: 100vw;
    padding: 0 10px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 80vw;
    @include sp {
      width: 100vw;
    }
  }

  &__logo {
    @include sp {
      width: 40px;
    }
  }

  &__nav {
    display: none;
  }
  &__ham {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__hamLine {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 2px;
    background-color: $main-color;
    @include sp {
      left: -30px;
    }
  }

  &__hamLine1 {
    top: 15px;
  }

  &__hamLine2 {
    top: 25px;
  }

  &__hamLine3 {
    top: 35px;
  }
}
