@use "./mixin";
.mv {
  &__wrap {
    position: relative;
    height: 670px;
    @include sp {
      height: 540px;
    }
  }

  &__title {
    position: relative;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__imgPc {
    @include sp {
      display: none;
    }
  }

  &__imgSp {
    display: none;
    @include sp {
      display: block;
      width: 334px;
    }
  }

  &__contactBtn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    @include sp {
      bottom: 60px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__btnPc {
    @include sp {
      display: none;
    }
  }

  &__btnSp {
    display: none;
    @include sp {
      display: block;
      width: 270px;
    }
  }
}
