@use "./mixin";
.question {
  &__wrap {
    background-color: $sub-color;
    padding: 30px 0;
    @include sp {
      padding: 30px 10px;
    }
  }

  &__innerWrp {
    max-width: 816px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    @include sp {
      padding: 20px 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    min-height: 640px;
    justify-content: space-between;
    @include sp {
      min-height: 550px;
    }
  }

  &__listItem {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    text-align: left;
  }

  &__listImage {
    @include sp {
      width: 33px;
    }
  }

  &__listText {
    margin-left: 30px;
    @include sp {
      margin-left: 15px;
    }
  }
}
