@use "./mixin";
.use {
  &__wrap {
    background-color: #faf6df;
    padding: 30px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 816px;
    margin: 40px auto 0 auto;
    @include sp {
      margin-top: 20px;
      padding: 0 20px;
      justify-content: space-between;
    }
  }

  &__listItem {
    width: 400px;
    @include sp {
      width: 130px;
    }
  }

  &__listImage {
    @include sp {
      width: 150px;
    }
  }

  &__listText {
    font-size: 20px;
  }
}
