section.about.inner#about
  //- img(src="./images/pc_src/mv.jpg", alt="レジ袋")
  h2.section__title.about__title 応援袋とは？
  p.section__text
    | 働く⼈・主婦・学⽣が無料でもらえるレジ袋！
    br
    | お得なクーポンや情報など企業の広告が掲載されることで、
    span ０円で提供するサービス
    | です。
