section.can#can
  .can__wrap
    .can__innerWrp
      h2.section__title 応援袋だから出来る事
      ul.can__list
        li.can__listItem
          img.can__listImage(src="./images/pc_src/kawanai_img.png", alt="レジ袋を買わない")
          p.can__listtext いつでも無料でレジ袋が必要な時に買わなくて済む
        li.can__listItem
          img.can__listImage(src="./images/pc_src/ironna_img.png", alt="いろんな使い方")
          p.can__listtext
            | レジ袋の様に
            br
            | 使用用途は様々
        li.can__listItem
          img.can__listImage(src="./images/pc_src/otoku_img.png", alt="お得")
          p.can__listtext お得なクーポンなども付いているのでお得
