section.compare.inner#compare
  h2.section__title 応援袋と一般レジ袋との比較
  ul.compare__list
    li.compare__listItem
      h3.compare__listHead 応援袋
      img.compare__listImage(src="./images/pc_src/oenbukuro_size.png", alt="レジ袋を買わない")
      p.compare__listText
        | 幅240mm×高さ370ｍｍ
        br
        | 横マチ60ｍｍ
    li.compare__listItem
      h3.compare__listHead レジ袋
      img.compare__listImage(src="./images/pc_src/rejibukuro_size.png", alt="いろんな使い方")
      p.compare__listText
        | 幅290mmx高さ360mm
        br
        | 横マチ55mm
