section.destination#destination
  h2.section__title 配布先

  dl
    dt.destination__listHead エリア
    dd.destination__listContent 全国47都道府県
    dt.destination__listHead 対象
    dd.destination__listContent
      |建築・流通・運送などの中小企業　
      br
      |保育園・幼稚園・小学校・中学校・高等学校
    dt.destination__listHead 時期
    dd.destination__listContent 不定期に配布

  p.destination__text
    |※配布を希望される、企業や教育機関の方は　
    a.destination__link(href="#contact") 問合せフォーム
    |よりお問合せお願いします。
