section.footer
  .footer__wrap
    .footer__innerWrap.inner
      h2.footer__title 運営会社情報
      .footer__listChunk
        dl.footer__list
          dt.footer__head 発行元
          dd.footer__item 株式会社CHALLENGE　TODAY
        dl.footer__list
          dt.footer__head URL
          dd.footer__item http://challenge-today.net/
        dl.footer__list
          dt.footer__head 発行元
          dd.footer__item info@challenge-today.net
