header.header
  nav.grobal_nav
    ul.grobal_nav_list
      li.gn_item
        a(href="#about") 応援袋とは？
      li.gn_item
        a(href="#mind") 応援袋の想い
      li.gn_item
        a(href="#where") 応援袋はどこでもらえるの？
      li.gn_item
        a(href="#distination") 配布先
      li.gn_item
        a(href="#can") 応援袋だから出来る事
      li.gn_item
        a(href="#compare") 応援袋と一般レジ袋との比較
      li.gn_item
        a(href="#use") 応援袋活用術
      li.gn_item
        a(href="#question") よくあるご質問
      li.gn_item
        a(href="#contact") 応援袋に広告を出稿検討される方
  .header__flex
    p.header__logo
      img.header__logoImg(src="./images/pc_src/logo.svg", alt="")
    .humberger#js_humberger
      span.humber_line.humber_line_1
      span.humber_line.humber_line_2
      span.humber_line.humber_line_3

  .white_bg#js_black
