section.mind.inner#mind
  //- img(src="./images/pc_src/mv.jpg", alt="レジ袋")
  h2.section__title 応援袋の想い
  p.section__text
    | 不要なレジ袋は使わないように意識をし、
    br
    | 買い物などに必要な袋は今まで通り購入する事なく便利に使用して欲しいと思います。
  p.mind__text
    |全てにおいて無駄に使わない事が環境問題にとって
    br
    |一番大切だと考えています。
