section.mv
  .mv__wrap.inner
    h1.mv__title
      img.mv__imgPc(src="./images/pc_src/top_catch_img.png", alt="環境・会社・お財布に優しいレジ袋を無料でお届け 応援袋")
      img.mv__imgSp(src="./images/sp_src/top_catchimg_sp@2x.png", alt="環境・会社・お財布に優しいレジ袋を無料でお届け 応援袋")
    p.mv__contactBtn
      a(href="#contact")
        img.mv__btnPc(src="./images/pc_src/contactFormBtn.png", alt="広告を載せたい企業の方 無料配布を希望の企業の方 お問い合わせはこちら")
        img.mv__btnSp(src="./images/pc_src/contactFormBtn.png", alt="広告を載せたい企業の方 無料配布を希望の企業の方 お問い合わせはこちら")
