//- nav.nav
//-   ul.nav__list
//-     li.nav__item
//-       a(href="#about") 応援袋とは？
//-     li.nav__item
//-       a(href="#mind") 応援袋の想い
//-     li.nav__item
//-       a(href="#where") 応援袋はどこでもらえるの？
//-     li.nav__item
//-       a(href="#distination") 配布先
//-     li.nav__item
//-       a(href="#can") 応援袋だから出来る事
//-     li.nav__item
//-       a(href="#compare") 応援袋と一般レジ袋との比較
//-     li.nav__item
//-       a(href="#use") 応援袋活用術
//-     li.nav__item
//-       a(href="#question") よくあるご質問
//-     li.nav__item
//-       a(href="#contact") 応援袋に広告を出稿検討される方
