section.question#question
  .question__wrap
    .question__innerWrp
      h2.section__title 応援袋活用術
      ul.question__list
        li.question__listChunk
          li.question__listItem
            img.question__listImage(src="./images/pc_src/question_img.png", alt="Question")
            p.question__listText 10枚以上欲しいのですが、追加でもらえますか？
          li.question__listItem
            img.question__listImage(src="./images/pc_src/answer_img.png", alt="Answer")
            p.question__listText 応援袋はレジ袋の削減を念頭に⼊れた上でお使いいただく商品のため、お⼀⼈様10枚/⽉でお願いしております。

        li.question__listChunk
          li.question__listItem
            img.question__listImage(src="./images/pc_src/question_img.png", alt="Question")
            p.question__listText 応援袋の処分は燃えるゴミor燃えないゴミ？
          li.question__listItem
            img.question__listImage(src="./images/pc_src/answer_img.png", alt="Answer")
            p.question__listText お住まいの地域の各⾃治体によって処分の仕⽅が異なりますので、役所等にご確認の上指⽰に従ってください。

        li.question__listChunk
          li.question__listItem
            img.question__listImage(src="./images/pc_src/question_img.png", alt="Question")
            p.question__listText 応援袋の材質は何ですか？
          li.question__listItem
            img.question__listImage(src="./images/pc_src/answer_img.png", alt="Answer")
            p.question__listText
            | 現在HDPE(高密度ポリエチレン)の袋をご提供させていただいております。
            br
            | 今後ラインナップとして、バイオマスの袋を追加します。
