section.use#use
  .use__wrap
    .use__innerWrap.inner
      h2.section__title 応援袋活用術
      ul.use__list
        li.use__listItem
          img.use__listImage(src="./images/pc_src/car_gr.png", alt="車")
          p.use__listText 車の中に
        li.use__listItem
          img.use__listImage(src="./images/pc_src/post_gr.png", alt="ポスト")
          p.use__listText ポストの中に
        li.use__listItem
          img.use__listImage(src="./images/pc_src/bag_gr.png", alt="鞄")
          p.use__listText 鞄の中に
        li.use__listItem
          img.use__listImage(src="./images/pc_src/echo_gr.png", alt="エコバック")
          p.use__listText エコバックの中に
